{% extends "base.html.twig" %}

{% block title %}Création d'annonces{% endblock %}


{% block body %}
    <h1>Création d'une annonce</h1>

    {% if app.user.id is defined %}



        {# {{form_row(annonce_form.rubrique_id,{"attr":{"placeholder":"Votre rubrique"}}) }} #}
        {# {{form_row(annonce_form.user_id,{"attr":{"placeholder":"Id_user"}}) }} #}

    
       <input type="hidden" name="user_id" value="{{app.user.id}}">


    {{form_start(annonce_form, { 'attr' : { 'enctype' : 'multipart/form-data'}})}}


       {# <input type="hidden" name="user_id" value="{{app.user.id}}"> #}

        {{form_row(annonce_form.title,{'label': 'Titre de l\'annonce',"attr":{"placeholder":"Votre titre d'annonce"}}) }}
        {{form_row(annonce_form.content,{'label': 'Descrption de l\'annonce', "attr":{"placeholder":"Votre contenu d'annonce"}}) }}
        {{form_row(annonce_form.expiration_date) }}
        {% if editMode %}
            <div class="form-group">
                <label for="rubrique_id">Rubriques</label>
                <select class="form-control form-control-lg" id="rubrique_id" name="rubrique_id">
                    {% for rub in rubriques %}
                        {% if rub.id == annonce_update.rubrique.id %}
                        <option id='rubrique_id' name='rubrique_id' value="{{rub.id}}" selected>{{rub.label}}</option>
                        {% endif %}
                        <option  id='rubrique_id' name='rubrique_id' value="{{rub.id}}">{{rub.label}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                {{form_label(annonce_form.name, 'vos image ')}}
                {{form_row(annonce_form.name, { 'attr' : { 'class' : 'form-control-file' , ' aria-describedby' : "fileHelp" }})}}
                <small id="fileHelp" class="form-text">entrez un fichier au format .jpg ou .png</small>
            </div>   
            <div class="form-group mt-3">
                {% for image in images %}    
                    {% if image.annonce.id == annonce_update.id %}
                        <p><img src='{{asset(image.path)}}' alt='image'/><a href="?action='deleteImage&{{image.id}}'">supprimer</a></p>
                    {% endif %} 
                {% endfor %}
            </div>
       {% else %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="rubrique_id">Votre Rubrique</label>
                </div>
                <select class="custom-select" id="rubrique_id" name="rubrique_id">
                    <option value="0" selected disabled>Choisissez votre rubrique</option>
                    {% for rub in rubriques %}
                        <option  id='rubrique_id' name='rubrique_id' value="{{rub.id}}">{{rub.label}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                {{form_label(annonce_form.name, 'Images ')}}
                {{form_row(annonce_form.name, { 'attr' : { 'class' : 'form-control-file' , ' aria-describedby' : "fileHelp" }})}}
                <small id="fileHelp" class="form-text">entrez un fichier au format .jpg ou .png</small>
            </div>
            <div></div>
        {% endif %} 
        <button type="submit" class="btn btn-primary">
            {% if editMode %}
            Modifier l'annonce
            {% else %}
                Déposer votre annonce
            {% endif %}
        </button>
    {{form_end(annonce_form)}}
    
    {% else %}
        <p>Vous devez être connecté(e) pour déposer une annonce</p>
        <a href="{{ path('security_login') }}" class="btn btn-primary">Connectez-vous</a>
    {% endif %}

{% endblock %}
